<style type="text/css">
  @media screen and (max-width: 600px) {
    .mobilehide {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }
</style>
<div class="container" style="padding-top: 45px;padding-bottom: 75px">
  <div class="row">
    <div class="col-md-5" style="">
      <a href="/" style="font-size: 25px;text-decoration: none;color: black">
        <h5 class="display-2"> {{siteName}} </h5>
      </a>  
      <p>{{sitedescription}} <span class="badge badge-warning">{{siteversion}}</span></p>
      <p>
        <p><p>
            Built with the 
          <a target="_blank" href="https://github.com/jondo89/fraternate">Fraternate </a> user framework </li>
        </p>
      </div>
      <div class="col-md-2 mobilehide" style="">
      
          {{#if collections}}
   <h5>Collections</h5>
          {{else}}
      
          {{/if}}


        <ul class="list-unstyled">
          {{#each collections}}
          {{#ifEquals this.navmenu1 'true'}}
          <li >
            <a href="/{{@key}}">{{this.pagetitle}}</a>
          </li>
          {{else}}
          {{/ifEquals}}
          {{/each}}
        </ul>
        <h5>Tools</h5>
        <ul class="list-unstyled">
          {{#each collections}}
          {{#ifEquals this.navmenu2 'true'}}
          <li >
            <a href="/{{@key}}">{{this.pagetitle}}</a>
          </li>
          {{else}}
          {{/ifEquals}}
          {{/each}}
        </ul>
        <h5>Documentation</h5>
        <ul class="list-unstyled">
          {{#each collections}}
          {{#ifEquals this.navmenu4 'true'}}
          <li >
            <a href="/{{@key}}">{{this.pagetitle}}</a>
          </li>
          {{else}}
          {{/ifEquals}}
          {{/each}}
        </ul>  
      </div>
      <div class="col-md-2 mobilehide" style="">
   {{#unless user}}
        <h5>Sign up to get started!</h5>
        <span><small><p><a href="/signup" class="btn btn-outline-success">Sign up</a> its free.</p></small></span>
        {{/unless}}
        <h5>Site Details</h5>
        <ul class="list-unstyled">
          <li><a href="/users">Users</a></li>
          <li><a href="/organizations">Organizations</a></li>
        </ul>
   <h5>Site Map</h5>
        <ul class="list-unstyled">
        <li><a href="/sitemap">Site map</a></li>
        </ul>        
      </div>
      <div class="col-md-2 mobilehide" style="">
        <h5>Issues </h5><p>List your issues with the interface.</p>
        <ul class="list-unstyled">
          <li><a href="/issues/view">Issues</a></li>
        </ul> 
        <h5>T & C's</h5>
        <ul  class="list-unstyled">
          <li><a href="/terms">Terms</a></li>
          <li><a href="/privacy">Privacy</a> </li>
        </ul>
      </div>
      <div class="col-md-10 mobilehide" style="">
        <h5>Collaborate </h5><p>Please feel free to contact us if you would like to work jointly on an activity or project.</p>
        <ul class="list-unstyled">
          <li> <a href="/contact">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-2"><small>© 2020 {{siteName}}</small></div>